<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia a Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Día de Hoy: {{ todayName }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let clase of filteredClases">
      <ion-label>
        <h2>{{ clase.className }}</h2>
        <p>Sala: {{ clase.classroomCode }}</p>
        <p>Horarios:
          <span *ngFor="let blockId of clase.timeBlockIds">
            {{ getTimeBlock(blockId) }}
            <span *ngIf="!isLastBlock(clase.timeBlockIds, blockId)">, </span>
          </span>
        </p>
      </ion-label>

      <ion-button
        *ngIf="!attendedClasses.has(clase.id)"
        (click)="registerAttendance(clase.id)"
      >
        Asistir
      </ion-button>

      <ion-button
        *ngIf="attendedClasses.has(clase.id)"
        color="success"
        disabled
      >
        Registrado
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
