<ion-header>
  <ion-toolbar color="light">
    <ion-title color="secondary">Asistencia a Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" color="light">
  <ion-card  color="secondary">
    <ion-card-header>
      <ion-card-title style="font-size: 15px; color:white;">Día de Hoy: {{ todayName }}</ion-card-title>
    </ion-card-header>
  </ion-card>
<!-- Lista de clases -->
  <ion-list>
    <ion-item *ngFor="let clase of filteredClases" color="light">
      <ion-label color="secondary">
        <p style="font-size: 20px;"><strong>{{ clase.className }}</strong></p>
        <p>Sala: {{ clase.classroomCode }}</p>
        <p>Horarios:
          <span *ngFor="let blockId of clase.timeBlockIds">
            {{ getTimeBlock(blockId) }}
            <span *ngIf="!isLastBlock(clase.timeBlockIds, blockId)">, </span>
          </span>
        </p>
      </ion-label>

      <ion-button
        *ngIf="!attendedClasses.has(clase.id)"
        color="danger"
        disabled
      >
        No Registrado
      </ion-button>

      <ion-button
        *ngIf="attendedClasses.has(clase.id)"
        color="success"
        disabled
      >
        Registrado
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
