<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Bienvenido/a, {{ userName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-segment value="asistencia" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="asistencia">
      <ion-icon name="book-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="abrircamara">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="perfil-alumno">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-content>

<ion-content>
  <!-- Aquí cargamos las rutas dinámicamente en función de las selecciones del segmento -->
  <ion-router-outlet></ion-router-outlet>
</ion-content>
