<ion-header>
  <ion-toolbar color="light">
    <ion-title color="secondary">Perfil Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <ion-list>
    <ion-item color="light">
      <ion-label color="secondary">
        <p style="font-size: 20px;"><strong>{{ alumno.fullName }}</strong></p>
        <p>{{ alumno.role.charAt(0).toUpperCase() + alumno.role.slice(1).toLowerCase() }}</p>
        <!-- toUpperCase y toLowerCase deja la primera letra en mayuscula -->
      </ion-label>
    </ion-item>

    <ion-item color="light">
      <ion-label color="secondary">
        <p style="font-size: 20px;"><strong>Email:</strong></p>
        <ion-text>{{ alumno.email }}</ion-text>
      </ion-label>
    </ion-item>

    <ion-item color="light">
      <ion-label color="secondary">
        <p style="font-size: 20px;"><strong>ID de Usuario:</strong></p>
        <ion-text>{{ alumno.id }}</ion-text>
      </ion-label>
    </ion-item>

    <!-- Puedes agregar más detalles o botones si es necesario -->
  </ion-list>
  

  <ion-card *ngIf="!alumno">
    <ion-card-header>
      <ion-card-title>No hay datos disponibles</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Parece que no hay datos del alumno. Por favor, verifica tu sesión.
    </ion-card-content>
  </ion-card>
</ion-content>
