<ion-content>
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h2>RegistrAPP</h2>
    </ion-label>
  </ion-title>

  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h4>Bienvenido</h4>
        </ion-label>
      </ion-card-title>

<!-- Campo de Usuario con Angular Material -->
      <ion-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <input matInput type="text" [(ngModel)]="login.Usuario">
        </mat-form-field>  
      </ion-card-content>

 <!-- Campo de Contraseña con Angular Material -->
      <ion-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="login.Password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
<!-- Ion Link para cambiar contraseña -->
            <p><a routerLink="/reset-password">Olvidaste tu contraseña?</a></p>
      </ion-card-content>

      <!-- Botón de Login -->
      <ion-button shape="round" (click)="ingresar()">Ingresar</ion-button>
    </ion-card>
  </div>
</ion-content>
