/* Botones ajustados al tamaño de los campos de entrada */
ion-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-top: 15px;
  width: 100%; /* Se asegura que ocupe el 100% del contenedor */
  max-width: 400px; /* Opción para limitar el ancho en pantallas más grandes */
  --border-radius: 8px; /* Bordes redondeados para un diseño consistente */
}

ion-button[color="primary"] {
  --background: #007bff; /* Azul */
  --color: #fff; /* Letra blanca */
}

ion-button[fill="outline"] {
  --border-color: #007bff;
  --color: #007bff;
}
