<ion-content color="light">
  <div class="ion-padding-top" style="display: flex; justify-content: center; align-items: center; width: 100%;">
    <ion-img src="assets/logoregistrap.png" style="width: 300px; height: auto;"></ion-img>
  </div>
  
  <!-- Texto de Bienvenida -->
  <div class="ion-padding-vertical ion-text-center">
    <p style="padding-top:30px; color:#833050;">¡Qué gusto tenerte de vuelta!</p>
  </div>

 <!-- Contenedor para centrar y alinear los botones con los inputs -->
 <div class="form-container">
  <ion-card-content>
    <ion-list>
      <!-- Campo de Usuario -->
      <ion-item>
        <ion-input style="color:#833050;"
          label="Usuario"
          labelPlacement="stacked"
          [clearOnEdit]="true"
          placeholder="Ingresa tu usuario"
          [(ngModel)]="login.username">
        </ion-input>
      </ion-item>

      <!-- Campo de Contraseña -->
      <ion-item>
        <ion-input style="color:#833050;"
          label="Contraseña"
          labelPlacement="stacked"
          type="password"
          placeholder="Ingresa tu contraseña"
          [(ngModel)]="login.password">
        </ion-input>
      </ion-item>
    </ion-list>
  </ion-card-content>

  <!-- Botón de Inicio de Sesión -->
  <div class="ion-text-center">
    <ion-button color="secondary" shape="round" (click)="ingresar()" >
      <p style="color: white; padding-top: 12px;">
        <strong>Iniciar Sesión</strong></p>
    </ion-button>
  </div>
  <div class="ion-text-center">
    <ion-button color="secondary" shape="round" fill="outline" [routerLink]="['/reset-password']">
      ¿Olvidaste tu contraseña?
    </ion-button>
  </div>
</div>


</ion-content>
