<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido, {{ userName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment value="asistencia" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="asistencia">
      <ion-icon name="book-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="experiencias">
      <ion-icon name="briefcase-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="certificaciones">
      <ion-icon name="school-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!-- Donde se carga el contenido -->
  <ion-router-outlet></ion-router-outlet>
</ion-content>
