<ion-content color="light">
  <div class="ion-padding-top" style="display: flex; justify-content: center; align-items: center; width: 100%;">
    <ion-img src="assets/logoregistrap.png" style="width: 300px; height: auto;"></ion-img>
  </div>

  <div>
    <ion-card class="ion-text-center" color="light">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <p style="color:#833050; font-size:30px;">Cambio de Contraseña</p>
        </ion-label>
      </ion-card-title>

      <!-- Campo de Usuario con Angular Material -->

      <ion-card-content class="custom-card-content">
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label style="color:#833050;">Nueva contraseña</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="resetPassword.Password"/>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'">
            <mat-icon style="color:#833050;">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </ion-card-content>

      <!-- Campo de Contraseña con Angular Material -->
      <ion-card-content class="custom-card-content">
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label style="color:#833050;">Confirmar contraseña</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="resetPassword.ConfirmPassword"/>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'">
            <mat-icon style="color:#833050;">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </ion-card-content>

      <!-- Botón de Login -->
      <ion-button color="secondary" shape="round" (click)="cambioContrasena()">
        <p style="color: white; padding-top: 12px;">Confirmar</p></ion-button>
    </ion-card>
  </div>
</ion-content>