<ion-content>
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h2>RegistrAPP</h2>
    </ion-label>
  </ion-title>

  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h4>Cambio de Contraseña</h4>
        </ion-label>
      </ion-card-title>

      <!-- Campo de Usuario con Angular Material -->
      <ion-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Nueva contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="resetPassword.Password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </ion-card-content>

      <!-- Campo de Contraseña con Angular Material -->
      <ion-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="resetPassword.ConfirmPassword">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </ion-card-content>

      <!-- Botón de Login -->
      <ion-button shape="round" (click)="cambioContrasena()">Confimar</ion-button>
    </ion-card>
  </div>
</ion-content>