<ion-content color="light">
  <!-- Logo -->
  <div class="ion-padding-top" style="display: flex; justify-content: center; align-items: center; width: 100%;">
    <ion-img src="assets/logoregistrap.png" style="width: 300px; height: auto;"></ion-img>
  </div>

  <!-- Card -->
  <div>
    <ion-card class="ion-text-center" color="light">
      <!-- Título -->
      <ion-card-title class="ion-text-center">
        <p style="color:#833050; font-size:30px;">Actualizar Contraseña</p>
      </ion-card-title>

      <!-- Campo de Email -->
      <ion-card-content class="custom-card-content">
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label style="color:#833050;">Correo electrónico</mat-label>
          <input matInput [(ngModel)]="email" placeholder="Ingresa tu correo electrónico" />
        </mat-form-field>
      </ion-card-content>

      <!-- Contraseña actual -->
      <ion-card-content class="custom-card-content">
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label style="color:#833050;">Contraseña actual</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            [(ngModel)]="currentPassword"
            placeholder="Ingresa tu contraseña actual"
          />
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
            <mat-icon style="color:#833050;">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </ion-card-content>

      <!-- Nueva Contraseña -->
      <ion-card-content class="custom-card-content">
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label style="color:#833050;">Nueva contraseña</mat-label>
          <input
            matInput
            [type]="hideNewPassword ? 'password' : 'text'"
            [(ngModel)]="newPassword"
            placeholder="Ingresa tu nueva contraseña"
          />
          <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword">
            <mat-icon style="color:#833050;">{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </ion-card-content>

      <!-- Botón para Actualizar -->
      <ion-button color="secondary" shape="round" (click)="updatePassword()">
        <p style="color: white; padding-top: 12px;">Actualizar Contraseña</p>
      </ion-button>
    </ion-card>
  </div>
</ion-content>
