/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {
    --ion-color-secondary: #833050;
    --ion-color-light: #ffffff; 
    --ion-color-black: #000000;
}

.form-container {
    background-color: #ffffff;   // Fondo blanco
    color: #000000;              // Texto negro
    padding: 20px;               // Agrega padding si lo necesitas para espaciar el contenido
    ion-item {
      --background: #ffffff;     // Fondo blanco para los ion-item
      --color: #000000;          // Texto negro para ion-item
    }
    ion-input {
      color: #000000;            // Texto negro dentro de los inputs
    }
    ion-label {
      color: #000000;            // Texto negro para las etiquetas de los inputs
    }
    ion-button {
      --color: #000000;          // Texto negro para los botones
    }
  }
  .dark-text {
    color: #000000;  // Cambia el color del texto a negro
  }
  

  .logo-img {
    width: 40px;
    height: auto;
    padding: 4px;
  }

  .selected-segment-button {
    background-color: #FF9900 !important; /* Aquí pones el color que deseas */
  }
