<ion-header>
  <ion-toolbar>
    <ion-title>Clases del Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Mostrar el día de hoy arriba de todo -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Día de Hoy: {{ todayName }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Lista de clases -->
  <ion-list>
    <ion-item *ngFor="let clase of filteredClases">
      <ion-label>
        <h2>{{ clase.className }}</h2>
        <p>Sala: {{ clase.classroomCode }}</p>
        <p>
          Bloques Horarios: 
          <span *ngFor="let blockId of clase.timeBlockIds">
            {{ getTimeBlock(blockId) }}
            <span *ngIf="!isLastBlock(clase.timeBlockIds, blockId)">, </span>
          </span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Actualizar Clase -->
  <ion-card *ngIf="selectedClass">
    <ion-card-header>
      <ion-card-title>Actualizar Clase</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre de la Clase</ion-label>
        <ion-input [(ngModel)]="selectedClass.className"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="updateClass()">Guardar Cambios</ion-button>
      <ion-button expand="full" color="medium" (click)="selectedClass = null">
        Cancelar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Crear Nueva Clase -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Nueva Clase</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre de la Clase</ion-label>
        <ion-input [(ngModel)]="newClass.className"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="createClass()">Crear Clase</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
