<ion-header>
  <ion-toolbar color="light">
    <ion-title color="secondary">Clases del Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" color="light">
  <ion-card  color="secondary">
    <ion-card-header>
      <ion-card-title style="font-size: 15px; color:white;">Día de Hoy: {{ todayName }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Lista de clases -->
  <ion-list>
    <ion-item *ngFor="let clase of filteredClases" color="light">
      <ion-label color="secondary">
        <p style="font-size: 20px;"><strong>{{ clase.className }}</strong></p>
        <p>Sala: {{ clase.classroomCode }}</p>
        <p>
          Bloques Horarios: 
          <span *ngFor="let blockId of clase.timeBlockIds">
            {{ getTimeBlock(blockId) }}
            <span *ngIf="!isLastBlock(clase.timeBlockIds, blockId)">, </span>
          </span>
        </p>
      </ion-label>
      <!-- Botón para generar QR -->
      <ion-button color="secondary" (click)="generateQR(clase.id)">
        <p style="color:white; padding-top:10px;">Generar QR</p>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Visualización del QR generado -->
  <ion-card *ngIf="qrCodeData" color="secondary" >
    <ion-card-header>
      <ion-card-title><p style="color:white;">Código QR Generado</p></ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center" style="color:#ffffff;">
      <qrcode
        [colorDark]="'#833050'"
        [qrdata]="qrCodeData"
        [width]="256"
        [errorCorrectionLevel]="'M'">
      </qrcode>
      <p>{{ qrCodeData }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Crear Nueva Clase -->
  <ion-content color="light">
    <ion-list>
      <ion-list-header color="light">
        <ion-label color="secondary">Crear Nueva Clase</ion-label>
      </ion-list-header>
      <ion-item color="light">
        <ion-label position="stacked" color="secondary"><strong>Nombre de la Clase</strong></ion-label>
        <div>
          <ion-input  style="color:#833050;" placeholder="Ingresa la Clase" [(ngModel)]="newClass.className"></ion-input>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
          <ion-button color="secondary" shape="round"(click)="createClass()" style="padding-top:20px;">
            <p style="color: white; padding-top: 12px;">Crear Clase</p></ion-button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>