<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="light">Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding ion-text-center" color="light">
  <div>
    <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
      <ion-img src="assets/NOTFOUNDREGISTRAPP.png" style="width: 200px; height: auto; padding-top:100px;">
      </ion-img>>
    </div>
    <h2 style="color:#833050">¡Oops! Página no encontrada 😭</h2>
    <p style="color:#833050">Lo sentimos, la página solicitada no ha sido encontrada.</p>
    <div class="ion-text-center">
      <ion-button color="secondary" shape="round" fill="outline"
       [routerLink]="['/login']">
        Volver al Inicio de Sesión
      </ion-button>
    </div>
  </div>
</ion-content>
