img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 16px;
  }

  :root {
    --background-color: #ffffff; /* Blanco */
    --text-color: #000000; /* Negro para el texto */
  }


  ion-content {
    background-color: var(--background-color);
    color: var(--text-color);
  }